.root {
  height: 365px;
  width: 315px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.root:hover {
  box-shadow: 4px 4px 50px rgba(49, 45, 209, 0.6);
  cursor: pointer;
}
.header h1 {
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.image {
  height: 195px;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.image img {
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.year {
  margin-left: 5px;
  color: var(--secondary-color);
}

.content {
  padding: 10px 20px 20px 20px;
  position: relative;
}

.header {
  display: flex;
  align-items: baseline;
}

.rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.mark {
  margin-left: 5px;
  color: var(--secondary-color);
  font-size: 18px;
}

.dir,
.stars {
  color: rgba(0, 0, 0, 0.8);
  display: block;
}
.dir {
  margin-top: 10px;
  margin-bottom: 5px;
}

.flag {
  position: absolute;
  width: 16px;
  height: 22px;
  top: 15px;
  right: 16px;
}
