html,
body {
  padding: 0;
  margin: 0;
  font-family: Signika;
  background-color: #e0e9f5;
}
:root {
  --secondary-color: #312dd1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(49, 45, 209, 0.7) transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(49, 45, 209, 0.7);
  border-radius: 20px;
  border: 4px solid #e0e9f5;
}
